* {
    padding: 0;
    margin: 0;
}

.game_wrapp {
    position: relative;
    width: 800px;
    height: 500px;
    border: 1px solid #73a95f;
    box-sizing: border-box;
    display: none;
    overflow: hidden;
}

.pages {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.fon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/fon.png) no-repeat;
    background-size: 100.4%;
}

.fon2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/fon2.jpg) no-repeat;
    background-size: 100.4%;
}

.menu_bootom {
    position: absolute;
    background: url(../img/menu_bottom.png) no-repeat;
    background-size: contain;
    width: 34.5%;
    height: 6.8%;
    left: calc((100% - 34.5%)/2);
    bottom: 0;
    cursor: pointer;
    z-index: 6;
}

.shops {
    position: absolute;
    background: url(../img/shop_icon.png) no-repeat;
    background-size: contain;
    right: 2.5%;
    bottom: 2.5%;
    width: 6.75%;
    height: 11.2%;
    cursor: pointer;
}

.help {
    position: absolute;
    background: url(../img/help_icon.png) no-repeat;
    background-size: contain;
    right: 12.5%;
    top: 86.4%;
    width: 6.75%;
    height: 11.3%;
    cursor: pointer;
}

.cat_ini {
    position: absolute;
    background: url(../img/cat.png) no-repeat;
    background-size: contain;
    width: 22.6%;
    height: 40.8%;
    top: 46.6%;
    left: calc(50% - 7.3%);
}

.cat_tr {
    position: absolute;
    background-image: url(../img/cat.gif);
    background-size: contain;
    width: 24.3%;
    height: 50.8%;
    top: 64%;
    left: calc(50% - 27.3%);
    z-index: 5;
    background-repeat: no-repeat;
}

.en_tr {
    position: absolute;
    background: url(../img/en.png) no-repeat;
    background-size: contain;
    width: 22.6%;
    height: 40.8%;
    top: 58%;
    left: calc(63% - 11.3%);
    z-index: 5;
}

.en_nise {
    position: absolute;
    background: url(../img/en_2.png) no-repeat;
    background-size: contain;
    width: 22.6%;
    height: 40.8%;
    top: 58%;
    left: calc(63% - 11.3%);
    z-index: 5;
}

.nise {
    background: url(../img/cat_l.png) no-repeat;
    background-size: contain;
}

.btn_blocs {
    position: absolute;
    width: 100%;
    height: 16.6%;
    left: 0;
    top: 10%;
}

.btn_training {
    position: absolute;
    left: calc(50% - 350px);
    background: url(../img/btn_game.png) no-repeat;
    background-size: contain;
    width: 328px;
    height: 83px;
    float: left;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    cursor: pointer;
}

.btn_testing {
    position: relative;
    left: calc(50% + 20px);
    ;
    background: url(../img/btn_bots.png) no-repeat;
    background-size: contain;
    width: 328px;
    height: 83px;
    float: left;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    cursor: pointer;
}

.btn_training:hover {
    opacity: 0.85;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.btn_testing:hover {
    opacity: 0.85;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.splash {
    position: absolute;
    top: 34px;
    left: 10%;
    width: 83%;
    height: 65%;
    background: url(../img/splash.png) no-repeat;
    background-size: contain;
}

.content_sp {
    position: absolute;
    width: 70%;
    height: 82%;
    left: 5%;
    top: 7%;
}

span,
span p {
    font-size: 12px;
    font-family: "FedraSansPro-Book";
    color: rgb(35, 35, 35);
    line-height: 1.15;
    text-align: left;
}

:full-screen {
    font-size: 16px;
    font-family: "FedraSansPro-Book";
    color: rgb(35, 35, 35);
    line-height: 1.15;
    text-align: left;
}

.caption {
    margin-top: 10px;
    font-size: 12px;
    font-family: "FedraSansPro-Book";
    color: rgb(35, 35, 35);
    line-height: 1.2;
}

:-webkit-full-screen {
    /*WebKit, Opera 15+*/
    font-size: 16px;
}

:-moz-full-screen {
    /*FireFox*/
    font-size: 16px;
}

:full-screen {
    /*Opera 12.15-, Blink, w3c standard*/
    font-size: 16px;
}


/*изменения одного элемента img*/

:-webkit-full-screen img {
    width: 100%;
    height: 100%;
}

:-moz-full-screen img {
    width: 100%;
    height: 100%;
}

.option {
    position: relative;
    top: 5px;
    border: 1px solid #E6E6E6;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    overflow: hidden;
    left: -16px;
    vertical-align: middle;
}

.option span {
    position: relative;
    width: 90%;
    margin-left: 3.5%;
    display: inline-block;
    vertical-align: middle;
}

.coment {
    width: 100%;
    position: absolute;
    font-size: 14px;
    font-family: "FedraSansPro-Book";
    line-height: 1.2;
    padding: 15px;
    box-sizing: border-box;
    display: none;
    border-radius: 10px;
    color: #fff;
}

.coment_block {
    position: absolute;
    width: 100%;
    top: -20px;
    z-index: 99;
}

.coment_block_bot {
    position: absolute;
    width: 100%;
    height: 91px;
    top: 5px;
}

.num_block {
    position: absolute;
    font-size: 12px;
    font-family: "FedraSansPro-Book";
    width: 160px;
    height: 65px;
    left: 16px;
    bottom: 1%;
}

.lain {
    position: absolute;
    width: 155px;
    height: 15px;
    border: 2px solid #50A959;
    top: 30px;
    border-radius: 15px;
    background: #fff;
    box-sizing: border-box;
}

.lains_in {
    position: absolute;
    width: 0px;
    height: 15px;
    border-radius: 15px;
    background: #50A959;
    box-sizing: border-box;
    top: -2px;
    left: -1px;
    max-width: 155px;
}

.tx_nov {
    position: absolute;
    color: #50A959;
    top: 46px;
    font-weight: 600;
}

.tx_expert {
    position: absolute;
    color: #50A959;
    top: 46px;
    right: 4px;
    font-weight: 600;
}

.fin_nums {
    position: absolute;
    color: #50A959;
    top: 15px;
    right: 4px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.tec_num {
    position: absolute;
    color: #50A959;
    top: -2px;
    left: 0;
    font-size: 29px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.timer_bloc {
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    background: #dd9b29;
}

.timer_lain {
    position: absolute;
    width: 120px;
    height: 39px;
    left: calc(50% - 60px);
    top: 0;
}

.timer_icon {
    position: absolute;
    width: 19px;
    height: 24px;
    top: 8px;
    left: 10px;
    background: url(../img/clocs.svg) no-repeat;
}

.timer {
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    left: 40px;
    top: 7px;
}

.vop2,
.vop3,
.vop4,
.vop5,
.vop6 {
    display: none;
}

.fs {
    position: absolute;
    top: 510px;
    left: 775px;
    width: 25px;
    height: 25px;
    background: url(../img/fs.svg) no-repeat;
    background-size: 100%;
    z-index: 999;
    cursor: pointer;
}

#testing {
    display: none;
    opacity: 0;
}

#training {
    display: none;
    opacity: 0;
}

.score {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0;
    z-index: 1;
    visibility: hidden;
}

.verno {
    position: relative;
    width: 100%;
    height: 20%;
    color: #50A959;
    font-size: 33px;
    left: 90px;
    top: 10%;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.ne_verno {
    position: relative;
    width: 100%;
    height: 20%;
    color: #DA2422;
    font-size: 33px;
    margin-left: 90px;
    top: 10%;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.bals {
    position: relative;
    width: 100%;
    height: 20%;
    color: #50A959;
    font-size: 33px;
    left: 90px;
    top: 10%;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.za_score {
    position: relative;
    width: 100%;
    height: 20%;
    color: #50A959;
    font-size: 33px;
    text-align: center;
    top: 5%;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.ul_g {
    position: absolute;
    left: 48px;
    top: 49px;
    background: url(../img/ul_g.png) no-repeat;
    background-size: contain;
    width: 15px;
    height: 18px;
    visibility: visible;
}

.babl {
    position: relative;
    background: url(../img/cloud_r.png) no-repeat;
    background-size: contain;
    width: 203px;
    height: 76px;
    left: 72%;
    top: 20%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    visibility: hidden;
}

.babl p {
    padding: 5px;
    margin-left: 25px;
}

.tops {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #dd9b29;
    height: 50px;
}

.tops2 {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: #dd9b29;
    border-top: 4px solid #fff;
    height: 50px;
}

.var_bloc_left {
    position: absolute;
    left: 0;
    width: 50%;
    height: calc(100% - 50px);
    top: 50px;
    border-right: 4px solid #fff;
}

.var_bloc_right {
    position: absolute;
    left: 50%;
    width: 50%;
    height: calc(100% - 50px);
    top: 50px;
    border-left: 4px solid #fff;
}

.tops p {
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.not_tr {
    position: absolute;
    background-image: url(../img/not.gif);
    background-repeat: no-repeat;
    background-size: contain;
    width: 22.6%;
    height: 40.8%;
    top: 65.6%;
    left: calc(50% + 3.3%);
}

.timers {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    top: 12px;
}

.balls_r {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    top: 12px;
    left: 36px;
}

.balls_l {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    top: 12px;
    right: 40px;
}

#tm_l {
    left: 40px;
}

#tm_r {
    right: 44px;
}

.timer_icon_l {
    position: absolute;
    width: 19px;
    height: 24px;
    top: 17px;
    left: 10px;
    background: url(../img/clocs.svg) no-repeat;
}

.timer_icon_r {
    position: absolute;
    width: 19px;
    height: 24px;
    top: 17px;
    right: 15px;
    background: url(../img/clocs.svg) no-repeat;
}

.babl_r {
    position: absolute;
    background: url(../img/cloud_r.png) no-repeat;
    background-size: contain;
    width: 203px;
    height: 76px;
    right: 4%;
    bottom: 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    z-index: 10;
    visibility: hidden;
}

.babl_l {
    position: absolute;
    background: url(../img/cloud_l.png) no-repeat;
    background-size: contain;
    width: 203px;
    height: 76px;
    left: 3%;
    bottom: 7%;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    z-index: 10;
    visibility: hidden;
}

.babl_l p {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 22px;
    top: 25px;
}

.splashs_r,
.splashs_l {
    position: relative;
    left: 2.5%;
    width: 95%;
    height: 52%;
    background: #fff;
    top: 70px;
}

.splashs_l .content_sp {
    width: 97%;
    top: 3%;
}

.splashs_l .content_sp .option {
    position: relative;
    top: 4px;
    border: 1px solid #E6E6E6;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    overflow: hidden;
    left: -16px;
    vertical-align: middle;
}

.splashs_l .content_sp .option span {
    font-size: 10px;
}

.splashs_l .content_sp .subject span {
    font-size: 10px;
}


/*Правое*/

.splashs_r .content_sp {
    width: 97%;
    top: 3%;
}

.splashs_r .content_sp .option {
    position: relative;
    top: 4px;
    border: 1px solid #E6E6E6;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    overflow: hidden;
    left: -16px;
    vertical-align: middle;
}

.splashs_r .content_sp .option span {
    font-size: 10px;
}

.splashs_r .content_sp .subject span {
    font-size: 10px;
}

.brony {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: transparent;
}


/*Фуллскрин*/

:-webkit-full-screen .verno {
    font-size: 105px;
}

 :-webkit-full-screen .ne_verno {
    font-size: 105px;
}

 :-webkit-full-screen .bals {
    font-size: 105px;
}

:-webkit-full-screen .content_sp {
    width: 60%;
    top: 10%;
}

:-webkit-full-screen p,
:-webkit-full-screen .caption {
    font-size: 22px;
}

:-webkit-full-screen span {
    margin-top: 25px;
    font-size: 25px;
}

:-webkit-full-screen .caption {
    font-size: 26px;
    margin-top: 40px;
    ;
}

:-webkit-full-screen .option {
    top: 40px;
    position: relative;
    height: 6em;
}

:-webkit-full-screen .coment {
    font-size: 24px;
    padding: 15px;
}

:-webkit-full-screen .option span {
    position: absolute;
    display: block;
    width: 90%;
    margin-left: 3.5%;
    display: inline-block;
    vertical-align: middle;
}

:-webkit-full-screen .coment {
    font-size: 30px;
    width: 90%;
}

:-webkit-full-screen .cat_tr {
    width: 22%;
    top: 64%;
    left: calc(50% - 33%);
}

:-webkit-full-screen .not_tr {
    width: 25%;
    top: 65%;
    left: calc(50% + 9%);
}

:-webkit-full-screen .ul_g {
    position: absolute;
    left: 166px;
    top: 168px;
    background: url(../img/ul_g.png) no-repeat;
    background-size: contain;
    width: 45px;
    height: 61px;
}

:-webkit-full-screen .babl {
    width: 400px;
    height: 150px;
    left: 72%;
    top: 25%;
}

:-webkit-full-screen .babl_l,
:-webkit-full-screen .babl_r {
    width: 450px;
    height: 200px;
}

:-webkit-full-screen .babl p,
:-webkit-full-screen .babl_l p,
:-webkit-full-screen .babl_r p {
    font-size: 2.1em;
    padding: 5px;
    margin-left: 45px;
}

:-webkit-full-screen .za_score {
    font-size: 99px;
}

:-webkit-full-screen .tops p {
    position: absolute;
    top: -10px;
    font-size: 32px;
}

:-webkit-full-screen .splashs_l .content_sp {
    width: 75%;
    top: 3%;
}

:-webkit-full-screen .splashs_l .content_sp .option {
    position: relative;
    top: 40px;
    border: 1px solid #E6E6E6;
    height: 70px;
    line-height: 70px;
    cursor: pointer;
    overflow: hidden;
    left: -16px;
    vertical-align: middle;
}

:-webkit-full-screen .splashs_l .content_sp .option span {
    font-size: 18px;
}

:-webkit-full-screen .splashs_l .content_sp .subject span {
    font-size: 22px;
}


/*Правое*/

:-webkit-full-screen .splashs_r .content_sp {
    width: 75%;
    top: 3%;
}

:-webkit-full-screen .splashs_r .content_sp .option {
    position: relative;
    top: 40px;
    border: 1px solid #E6E6E6;
    height: 70px;
    line-height: 70px;
    cursor: pointer;
    overflow: hidden;
    left: -16px;
    vertical-align: middle;
}

:-webkit-full-screen .splashs_r .content_sp .option span {
    font-size: 18px;
}

:-webkit-full-screen .splashs_r .content_sp .subject span {
    font-size: 22px;
}

:-webkit-full-screen .brony {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: transparent;
}

:-webkit-full-screen .babl_l p {}


/* :-webkit-full-screen */


/* :-webkit-full-screen */


/* :-webkit-full-screen */


/* :-webkit-full-screen */


/* :-webkit-full-screen */


/* :-webkit-full-screen */